<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <h1>Product Catalog APP</h1>
      </div>
    </div>
    <br>
    <div class="row">
      <p>
        <a class="btn btn-default btn-lg" href="/products/create">Create Product</a>
        <a class="btn btn-primary btn-lg" href="/categories/create">Create Category</a>        
      </p>
    </div>
  </div>
</section>
