<section>
  <div class="page-header">
    <h1>{{vm.category._id ? 'Edit Category' : 'New Category'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.categoryForm" class="form-horizontal" ng-submit="vm.save(vm.form.categoryForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="category">Category</label>
          <input name="category" type="text" ng-model="vm.category.category" id="category" class="form-control" placeholder="Category" required>
          <div ng-messages="vm.form.categoryForm.category.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Category category is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.category._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
