<section>
  <div class="page-header">
    <h1 ng-bind="vm.category.category"></h1>
  </div>
  <div class="pull-right"
       ng-show="vm.category.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="categories.edit({ categoryId: vm.category._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.category.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.category.user"
            ng-bind="vm.category.user.displayName"></span>
      <span ng-if="!vm.category.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.category.content"></p>
</section>
