<section>
  <div class="page-header">
    <h1>{{vm.product._id ? 'Edit Product' : 'New Product'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.productForm" class="form-horizontal" ng-submit="vm.save(vm.form.productForm.$valid,picFile)" novalidate>
      <fieldset>
        <!-- Name Feild -->
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.product.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.productForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Product name is required.</p>
          </div>
        </div>
        <!-- Description Feild-->
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Description</label>
          <textarea name="description" type="text" ng-model="vm.product.description" id="description" class="form-control" placeholder="Description" required></textarea>
          <div ng-messages="vm.form.productForm.description.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Product Description is required.</p>
          </div>
        </div>
        <!-- Price Feild -->
        <div class="form-group" show-errors>
          <label class="control-label" for="price">Price</label>
          <input name="price" type="text" ng-model="vm.product.price" id="price" class="form-control" placeholder="Price" required>
          <div ng-messages="vm.form.productForm.price.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Product price is required.</p>
          </div>
        </div>
        <!-- Quantity Feild -->
        <div class="form-group" show-errors>
          <label class="control-label" for="quantity">Quantity</label>
          <input name="quantity" type="text" ng-model="vm.product.quantity" id="quantity" class="form-control" placeholder="Quantity" required>
          <div ng-messages="vm.form.productForm.quantity.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Product quantity is required.</p>
          </div>
        </div>

        <!-- Image Feild -->
        <!-- To make it consistant with whole app, I used default picture loader -->
        <div class="form-group text-center" ng-if="vm.fileSelected">
          <img ng-show="!vm.product._id" ngf-src="picFile" alt="Product Image" class="img-thumbnail user-profile-picture" ngf-drop>
        </div>
        <div class="form-group text-center" ng-if="vm.product.imagePath">
          <img ng-hide="vm.fileSelected" ngf-src="vm.product.imagePath" alt="Product Image" class="img-thumbnail user-profile-picture" ngf-drop>
        </div>
        <div ng-show="vm.loading" class="form-group text-center">
          <img ng-src="/modules/core/client/img/loaders/loader.gif" height="50" width="50" alt="Loading image...">
        </div>
        <div ng-show="!vm.fileSelected" class="text-center form-group">
          <button name="picture" class="btn btn-default btn-file" ngf-select="(vm.fileSelected = true) && (vm.loading = false)" ng-model="picFile" accept="image/*" ngf-before-model-change="vm.loading = true" ngf-resize="{width: 400}" ngf-resize-if="$width > 400 || $height > 400">Select Picture</button>
        </div>
        <div ng-show="vm.fileSelected" class="text-center form-group">
          <button class="btn btn-default" ng-click="vm.fileSelected = false">Cancel</button>
        </div>

        <!--
          SKU field
            - SKU wasn't on editable variable, so it should be hide field when it's editied
        -->
        <div class="form-group" show-errors ng-if="!vm.product._id">
          <label class="control-label" for="sku">SKU</label>
          <input name="quantity" type="text" ng-model="vm.product.sku" id="sku" class="form-control" placeholder="SKU" required>
          <div ng-messages="vm.form.productForm.sku.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Product SKU is required.</p>
          </div>
        </div>
        <div class="form-group" ng-if="vm.product._id">
          <p>SKU: {{vm.product.sku}}</p>
        </div>

        <!-- Categories field -->
        <div class="form-group">
          <label class="control-label" for="category">Categories</label>
          <div class="row">
            <div class="col-sm-6 col-md-4" ng-repeat="category in vm.categories track by $index">
              <input type="checkbox" value="{{vm.categoryCheckbox[$index]}}" ng-model="vm.categoryCheckbox[$index]" ng-change="valueChange()"/> {{category.category}}
            </div>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.product._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
