<section>
  <div class="page-header">
    <h1 ng-bind="vm.product.name"></h1>
  </div>
  <div class="page-body">
    <img ngf-src="vm.product.imagePath" alt="{{vm.product.name}}" />
    <h4>Description</h4>
    <p>{{vm.product.description}}</p>
    <h4>Quantity:</h4>
    <p>{{vm.product.quantity}} items</p>
    <h4>Price:</h4>
    <p>$ {{vm.product.price}} </p>
    <h4>SKU:</h4>
    <p> {{vm.product.sku}}</p>
    <h4>Categories</h4>

    <span ng-repeat="category in vm.product.category">
      <p ng-show="category.isSelected">{{category.category}}</p>
    </span>

  </div>
  <div class="pull-right"
       ng-show="vm.product.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="products.edit({ productId: vm.product._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.product.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.product.user"
            ng-bind="vm.product.user.displayName"></span>
      <span ng-if="!vm.product.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.product.content"></p>
</section>
